In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import requests
import json

In [13]:
url="https://opensky-network.org/api/states/all?lamin=45.8389&lomin=5.9962&lamax=47.8229&lomax=10.5226"
uclient=urlopen(url)
responsehtml=uclient.read()
uclient.close()
print(responsehtml.decode())
type(responsehtml.decode())

{"time":1615773150,"states":[["4b5d8e","EUGEN18 ","Switzerland",1615773147,1615773147,8.5673,47.4568,null,true,1.54,95.62,null,null,null,null,false,0],["440193","TAY4365 ","Austria",1615773149,1615773149,10.4586,46.2873,11277.6,false,247.74,135.59,0.33,null,11018.52,"0116",false,0],["3c70ae","BCS31M  ","Germany",1615773150,1615773150,7.1369,46.7918,10058.4,false,250.9,212.35,0,null,9845.04,"6662",false,0]]}

str

In [14]:
import json
data = responsehtml.decode()
info = json.loads(data)
print("Tiempo:",info["time"])
print("Estados:",info["states"])

Tiempo: 1615773150
Estados: [['4b5d8e', 'EUGEN18 ', 'Switzerland', 1615773147, 1615773147, 8.5673, 47.4568, None, True, 1.54, 95.62, None, None, None, None, False, 0], ['440193', 'TAY4365 ', 'Austria', 1615773149, 1615773149, 10.4586, 46.2873, 11277.6, False, 247.74, 135.59, 0.33, None, 11018.52, '0116', False, 0], ['3c70ae', 'BCS31M  ', 'Germany', 1615773150, 1615773150, 7.1369, 46.7918, 10058.4, False, 250.9, 212.35, 0, None, 9845.04, '6662', False, 0]]

In [15]:
url="https://opensky-network.org/api/states/all"
uclient=urlopen(url)
responsehtml=uclient.read()
uclient.close()
data = responsehtml.decode()

In [19]:
info = json.loads(data)
#print("Tiempo:",info["time"])
#print("Estados:",info["states"])
df=pd.DataFrame(info["states"])
print(df)

           0         1              2             3           4         5  \
0     a808c4  PDT6234   United States  1.615773e+09  1615773432  -77.3200
1     7c6b2f  JST512        Australia  1.615773e+09  1615773366  144.8423
2     88044f  AIQ4324        Thailand  1.615773e+09  1615773491  100.6486
3     7c6b41  JST945        Australia  1.615774e+09  1615773509  145.1225
4     7c6b40  JST564        Australia  1.615774e+09  1615773509  149.2732
...      ...       ...            ...           ...         ...       ...
3282  a81837  N620WF    United States  1.615774e+09  1615773509 -115.0230
3283  a9b053  BTQ496    United States  1.615774e+09  1615773509  -92.7195
3284  7808f7  HXA2763           China  1.615773e+09  1615773507  106.9224
3285  4403f4  TAY4037         Austria  1.615774e+09  1615773509    3.5794
3286  a09a04  N138MH    United States  1.615773e+09  1615773294  -77.0423

            6         7      8       9      10     11    12        13    14  \
0     40.8152   1272.54  False  112.54  317.78  -1.95  None   1280.16  7263
1    -37.6701       NaN   True   10.29  351.56    NaN  None       NaN  None
2     12.1325   9509.76  False  228.07  177.80   7.48  None  10111.74  None
3    -36.2436   9113.52  False  224.29  211.68 -11.05  None   9517.38  1151
4    -32.9154  10668.00  False  239.95   37.51   0.00  None  11087.10  1402
...       ...       ...    ...     ...     ...    ...   ...       ...   ...
3282  35.5516   4564.38  False   96.47   15.15   0.00  None   4655.82  7224
3283  33.2983   5684.52  False  169.74   82.34  -6.18  None   5890.26  2357
3284  28.6567   9784.08  False  223.56  177.10  -0.33  None   7741.92  6447
3285  49.0881  10035.54  False  234.60  208.70  -0.33  None       NaN  7140
3286  38.6474    236.22  False   69.72  205.81   0.33  None    266.70  2224

         15  16
0     False   0
1     False   0
2     False   0
3     False   0
4     False   0
...     ...  ..
3282  False   0
3283  False   0
3284  False   0
3285  False   0
3286  False   0

[3287 rows x 17 columns]

In [20]:
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
pd.DataFrame(info['states'],columns=col_name)

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,a808c4,PDT6234,United States,1.615773e+09,1615773432,-77.3200,40.8152,1272.54,False,112.54,317.78,-1.95,None,1280.16,7263,False,0
1,7c6b2f,JST512,Australia,1.615773e+09,1615773366,144.8423,-37.6701,NaN,True,10.29,351.56,NaN,None,NaN,None,False,0
2,88044f,AIQ4324,Thailand,1.615773e+09,1615773491,100.6486,12.1325,9509.76,False,228.07,177.80,7.48,None,10111.74,None,False,0
3,7c6b41,JST945,Australia,1.615774e+09,1615773509,145.1225,-36.2436,9113.52,False,224.29,211.68,-11.05,None,9517.38,1151,False,0
4,7c6b40,JST564,Australia,1.615774e+09,1615773509,149.2732,-32.9154,10668.00,False,239.95,37.51,0.00,None,11087.10,1402,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,a81837,N620WF,United States,1.615774e+09,1615773509,-115.0230,35.5516,4564.38,False,96.47,15.15,0.00,None,4655.82,7224,False,0
3283,a9b053,BTQ496,United States,1.615774e+09,1615773509,-92.7195,33.2983,5684.52,False,169.74,82.34,-6.18,None,5890.26,2357,False,0
3284,7808f7,HXA2763,China,1.615773e+09,1615773507,106.9224,28.6567,9784.08,False,223.56,177.10,-0.33,None,7741.92,6447,False,0
3285,4403f4,TAY4037,Austria,1.615774e+09,1615773509,3.5794,49.0881,10035.54,False,234.60,208.70,-0.33,None,NaN,7140,False,0
3286,a09a04,N138MH,United States,1.615773e+09,1615773294,-77.0423,38.6474,236.22,False,69.72,205.81,0.33,None,266.70,2224,False,0

In [ ]:
#NOTA:
# Averiguar sobre la librería OpenSkyApi 
#import OpenSkyApi